
<div class="container">
	<div class="row">
		<h3 class="col-sm-9  py-5">環境問題</h3>
		<%= image_tag 'ally.jpg',:size =>'900x500' %>
		<p class="col-sm-9  py-2">ビーガン/ベジタリアン＝環境に良い？
			<p class="col-sm-9  py-2">畜産業が環境に与える影響がとてつもなく大きいというう事実はあまり多くは知られていません。
			ほとんどの人は知りませんが、大量のメタンガスが畜産業をする上で排出されています。原因は家畜がするゲップやおならです。そして、このメタンガスが地球温暖化に繋がっているのです。</p>
			<p class="col-sm-9  py-2">例えば、平均サイズのビーフバーガーを週に1〜2回食べた場合、その牛肉を生み出すために、1年間に604kgの温室効果ガスが発生します。これは、車で約2,500 km運転した時に発生する温室効果ガスと同等の量になります。※出典：<%= link_to"https://www.milliondollarvegan.com/meat-and-climate-change/"%></p>
			<p class="col-sm-9  py-2">2018年にイギリス・オックスフォード大学が中心となって行った研究では、「ベジタリアンの食事にすると63%、ビーガンの食事にすると70%、温室効果ガスを削減することができる」と発表されています。※出典：<%= link_to "https://www.oxfordmartin.ox.ac.uk/news/201603-plant-based-diets/" %></p>
			<p class="col-sm-9  py-2">また、畜産業は地球温暖化問題だけでなく水不足問題にも関わっています。畜産業は果物や野菜の生産と比較し、大量の水を必要とします。2030年には水需要に対して水資源が40％不足すると言われている現在、水資源の管理は持続可能な発展のために重要な課題となっているのです。※出典：The 2030 Water Resources Group</p>
			<P class="col-sm-9  py-2">肉食生活から植物生活にシフトしようという動きがアメリカをはじめ世界で高まっているのです。日本もこの流れに乗って行くことを願います。</P>
		</p>
	</div>
</div>
<style type="text/css" media="screen">
	h3{
		background-color: #00FF00;
	}
</style>