	
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="">
	<title></title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h3 class="veggie_top col-sm-9  py-5">海外＆日本のベジタリアンな有名人とその理由をご紹介します。</h3>
			<%= image_tag 'banana.jpeg',:size =>'900x500' %>
			<table class="table table-striped table-dark">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">名前</th>
				      <th scope="col">仕事</th>
				      <th scope="col">理由</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td>リオレル　メッシ</td>
				      <td>サッカー選手</td>
				      <td>ベジタリアンとして自身のコンディションを整えている</td>
				    </tr>
				    <tr>
				      <th scope="row">2</th>
				      <td> アリアナ　グランデ</td>
				      <td>歌手</td>
				      <td><p>理由は「人間より動物が好きだから」だそう。
				幸せな生活が送れて長生きするために、</p>
				<p>植物性の食べ物を食べることを信条としているそうです。</p></td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>ナタリー・ポートマン</td>
				      <td>女優・モデル</td>
				      <td>動物性の食べ物を食べないだけでなく、皮革製品も身に付けない、動物愛護精神の本物のヴィーガンです。</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>エレン・ペイジ</td>
				      <td>女優</td>
				      <td>動物愛護団体「PETA」が選ぶ「最もセクシーなベジタリアン2014」選出されており、自他共に認めるヴィーガン。</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>小藪千豊</td>
				      <td>お笑い芸人</td>
				      <td>こやぶさんは、健康関連の仕事をしていたお祖父さんの影響で幼い頃から肉を食べない生活が当たり前だったそうです。</td>
				    </tr>
				    <tr>
				      <th scope="row">3</th>
				      <td>市川海老蔵</td>
				      <td>歌舞伎</td>
				      <td>元々肉が大好きだったという市川海老蔵さんは、お父さんの病気や自身の健康のためにヴィ―ガン的な食生活を始めました。</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</body>
</html>


<style type="text/css" media="screen">
.veggie_top {
	background-color: #FFAAFF;
}
</style>