<div class="container">
	<div class="row">
		<h3 class="veggie_top col-sm-9  py-5">海外＆日本のベジタリアンな有名人とその理由をご紹介します。</h3>
		<p class="h3 col-sm-9  py-5">1 リオレル　メッシ</p>
		<p>サッカー選手
ベジタリアンとして自身のコンディションを整えている</p>
		</div>
	</div>


<style type="text/css" media="screen">
.veggie_top {
	background-color: #FFAAFF;
}
</style>